
@{
    ViewBag.Title = "NotFound";
}



    <body>
        <hgroup>
            <h2>Not Found</h2>
            <h3> Sorry! No Truck found in the given location</h3>
            <h3> Please try other locations </h3>
        </hgroup>
        <div>

            <input type="button" value="Back" onclick="location.href='@Url.Action("Create", "Customers")'" />

        </div>

    </body>

