@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<head>
    <style>
        body {
            background-image: url(../Images/Truck.jpg);
            background-repeat: no-repeat;
            height: 100vh;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            font-family: sans-serif;
            align-content: center;
        }
    </style>
</head>
<body>

            <p>
                Truck Loader Services provides facilities for Transporters to register their details and Add their Trucks.
                <br>
                Customer also can register their details and search for trucks in their preferred location.

            </p>
      
</body>