@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<html>
<head>
    <style>
        body {
            background-image: url(../Images/Truck.jpg);
            background-repeat: no-repeat;
            height: 100vh;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            font-family: sans-serif;
            align-content: center;
        }
    </style>
</head>
<body>
    <address >
    Tech Park<br>
    Redmond, Chennai<br>
    <abbr title="Phone" > Phone:</abbr >
    8144646232
    </address >

    <address >
    <strong > Support:</strong > <a href="mailto:Support@Truckloaderservices.com"> Support@Truckloaderservices.com</a> <br>
    <strong > Marketing:</strong > <a href="mailto:Marketing@Truckloaderservices.com"> Marketing@Truckloaderservices.com</a>
    </address >
    </body>
</html>